body{
    background: rgb(153, 153, 153) !important;
}
#btn{
    border: none;
    font-weight: 800;
    background: rgb(41, 45, 46);
    color: azure;
}
.btn{
    border: none;
    font-weight: 800;
    background: rgb(41, 45, 46) !important;
    color: azure !important;
}
h1{
    font-size: 2.8em !important;
}
span{
    color: aliceblue;
    font-family: 'Anton', sans-serif;
    
}
p{
    margin-left: 5px;
}
h4{
    font-weight: 800 !important;
    margin-left: 5px;
}
h5{
    font-size: 1em !important;
    margin-left: 5px;
        margin-bottom: 20px !important;
    border-bottom: 4px solid black;
    color: rgb(158, 158, 158);
}